{% load static %}
<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yoga With Me</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/versions.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">
    <script src="{%static 'js/modernizer.js' %}"></script>
</head>

<body class="host_version">

    {%include "header.html" %}

    <div id="overviews" class="section wb">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-9 blog-post-single">
                    <div class="blog-item">
						<div class="image-blog">
							<img src="{{getpose.image1.url}}" alt="" class="img-fluid">
						</div>
						<div class="post-content">
                            <h1 style="color: black;font-weight: 600;text-transform: capitalize; padding-top: 15px;font-size: 30px;line-height: 0px;">{{getpose.name}}</h1>
							<div class="blog-desc">
                                <div class="blog-title">
                                    <h2>Lợi ích</a></h2>
                                </div>
								{%for line in getpose.advantage.splitlines %}
                                    <p>
                                        {{line}}
                                    </p>
                                {%endfor%}
                                <div class="blog-title">
                                    <h2>Cách thực hiện:</a></h2>
                                </div>
								<blockquote class="default">
									{%for line in getpose.exercise.splitlines%}
                                        <p>
                                            {{line}}
                                        </p>
                                    {%endfor%}
								</blockquote>
                                <div class="blog-title">
                                    <h2>Những trường hợp không nên tập:</a></h2>
                                </div>
								{%for line in getpose.excepts.splitlines%}
                                    <p>
                                        {{line}}
                                    </p>
                                {%endfor%}
							</div>							
						</div>
					</div>
                </div>
            </div> 
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>