
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Đăng ký</title>
        <link rel="stylesheet" href="{%static 'css/register.css'%}" />
        <script type="text/javascript" src="{%static 'js/jquery-3.5.1.min.js' %}"></script>
		<script type="text/javascript" src="{%static 'js/jquery.validate.min.js'%}"></script>
    </head>
    <body>
        <div class="main">
            <form action="register" method="post" class="form" id="register-form">
                {% csrf_token %}
                <h3 class="heading">Đăng ký tài khoản</h3>
                <div class="spacer"></div>

                <div class="form-group">
                    <label for="nickname" class="form-label">Tên hiển thị</label>
                    <input required="required"
                        id="username"
                        name="username"
                        type="text"
                        value = ""
                        placeholder="username"
                        class="form-control"
                    />
                    <span class="form-message"></span>
                </div>

                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input required="required" 
                        id="email"
                        name="email"
                        value = ""
                        type="text"
                        placeholder="VD: email@domain.com"
                        class="form-control"
                    />
                    <span class="form-message"></span>
                </div>

                <div class="form-group">
                    <label for="password" class="form-label">Mật khẩu</label>
                    <input
                        id="password" required="required"
                        name="password"
                        type="password"
                        placeholder="Nhập mật khẩu"
                        class="form-control"
                    />
                    <span class="form-message"></span>
                </div>

                <div class="form-group">
                    <label for="repassword" class="form-label">Nhập lại mật khẩu</label>
                    <input
                        id="repassword" required="required"
                        name="repassword"
                        type="password"
                        placeholder="Nhập lại mật khẩu"
                        class="form-control"
                    />
                    <span class="form-message"></span>
                </div>
                <button class="form-submit">Tạo tài khoản</button>
            </form>
        </div>
		<script type="text/javascript">
		$(document).ready(function (){
			$('#register-form').validate({
				rules:{
					"email":{
						email: true,
					},
					"repassword":{
						equalTo: "#password",
					}
				},
				messages:{
					"email":{
						email: "Nhập định dạng email"
					},
					"repassword":{
						equalTo: "Chưa phù hợp",
					}
				}
			})
		})
	</script>
	<style>
		.error{
				font-size: 15px;
				color: red;
			}
	</style>
    </body>
</html>
